
.pp-white-bar {
    width: 100%;
    height: 120px; 
    background: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}


.pp-buttons-container {
    display: flex;
    align-items: center;
    gap: 20px; 
    padding-left: 40px; 
}


.pp-menu-button {
    width: 200px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.pp-buttons-container img:nth-child(4) {
    margin-right: 180px;
}


.pp-menu-button:hover {
    transform: translateY(-3px);
}


@media (max-width: 1200px) {
    .pp-buttons-container {
        gap: 15px;
        padding-left: 20px;
    }

        .pp-buttons-container img:nth-child(4) {
            margin-right: 100px;
        }
}

@media (max-width: 768px) {
    .pp-white-bar {
        height: auto;
        padding: 20px 0;
    }

    .pp-buttons-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
    }

    .pp-menu-button {
        width: 150px;
        height: 50px;
    }

    .pp-buttons-container img:nth-child(4) {
        margin-right: 0;
    }
}
